{% extends 'base.html' %} 
{% block title %}
  {{ book.name }} ({{book.release_year }})
{% endblock title %}
{% block content %}
<h2>Detalhes do Livro {{ book.name }} ({{ book.release_year }})</h2>
<section class="dados-de-livro">
  <img src="{{ book.poster_url }}" alt="Capa do Livro {{ book.name}}" />
  <ul>
    <li>Nome: {{ book.name }}</li>
    <li>Ano de Publicação: {{ book.release_year }} </li>
    {% if book.provider %}
      <li>Disponibilidade de compra: {{ book.provider.service }} </li>
      {% if book.provider.has_flat_price %}
          <li>Preço: FLAT </li>
      {% else %}
          <li>Preço: R${{ book.provider.price }} </li>
      {% endif %}
    {% endif %}
    {% if book.list_set.all %}
            <li>Incluso nas categorias: {{ book.list_set.all|join:", " }} </li>
        {% endif %}
    <li><a href="{% url 'books:update' book.id %}">Editar</a></li>
    <li><a href="{% url 'books:delete' book.id %}">Apagar</a></li>
  </ul>
</section>
<hr>

<section>
    <header>
        <h3>Resenhas</h3>
    </header>
    <ul>
        {% if book.review_set.all %}
            {% for review in book.review_set.all %}
                <figure>
                    <blockquote>
                        "{{ review.text }}"
                    </blockquote>
                    <figcaption>—{{ review.author }}</figcaption>
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhuma resenha para este livro.</p>
        {% endif %}
    </ul>
    <hr>

    <a href="{% url 'books:review' book.pk %}"><button>Crie sua Resenha</button></a>
</section>
{% endblock content %}