{% extends 'base.html' %}
{% block content %}
<h2>Atualizar Informações do Livro {{ book.name }} ({{ book.release_year}})</h2>
<form method="post" action="{% url 'books:update' book.id%}">
  {% csrf_token %}
  <p>
    <label for="id_name">Título:</label>
    <input type="text" name="name" id="id_name" value="{{ book.name }}" />
  </p>
  <p>
    <label for=" id_release_year">Ano de Publicação:</label>
    <input
      type="number"
      name="release_year"
      id="id_release_year"
      value="{{ book.release_year }}"
    />
  </p>
  <p>
    <label for=" id_poster_url">URL da Capa:</label>
    <input
      type="url"
      name="poster_url"
      id="id_poster_url"
      value="{{book.poster_url}}"
    />
  </p>
  <button type="submit">Atualizar</button>
</form>
{% endblock content %}